<div class="text-center">
  <h2 class="text-2xl font-bold">Bienvenue dans Boutique</h2>
  <p class="text-gray-700 mt-4">Gérez vos produits neufs, d’occasion et en dépôt-vente facilement.</p>
</div>

<script>
  document.addEventListener("turbo:load", function () {
    console.log("✅ turbo:load déclenché !");
  });
</script>

